<!--details page -->

<h1><%= @place["name"] %></h1>

<h3>Posts</h3>

 <ul>
   <% for entry in @entries %>
    <li>
      <a href="/entries/<%= entry["title"] %>"><%= entry["description"] %></a>
    </li>
   <% end %>
</ul>

<h1>New Post</h1>

<form action="/entries" method="post">
  <p>
    <label for="title">Title</label>
    <input type="text" name="title">
  </p>
  
  <button>Submit</button>
</form>

<p><a href="/places">Back to All Places</a></p>
